

$base-color: #5a5a5a;
$light-blue-color: #148bce;
$darker-color: #4e4e4e;

$black-color: #000000;
$white-color: #ffffff;

$header-dark: #202528;
$form-background: #212b35;

$box-color: #d2d2d2;
$inp-border: #333c45;
$inp-background: #212b35;
$text-color: #a8b0bd;

$footer-list: #d8e9f6;
$copyright: #cbe2f3;

$separator: #41a0d7;
$btn-subs: #00000C;

$img-color: #c2c8cf;

