body *, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.head {
    padding: 40px 0;
    width: 100%;
    height: 30em;
    position: relative;
}

.white-color {
    background-color: #ffffff;
}

.light-color {
    background-color: #f6f6f6;
}

.black-color {
    background-color: #000000;
}

.blue-color {
    background-color: #148bce;
}

.text-blue {
    color: #148bce;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container:after ,.logo-container:after ,.summary-item:after ,.hero-holder:after ,.footer-det .policies:after ,.company:after , .copyright:after{  
    content: '';
    display: block;
    clear: both;
}

.links {
    float: right;
    padding: 25px 0 25px 40px;
    font-weight: 700;
}

.logo-container {
    float: left;
}

.logo-container img {
    height: 68px;
    width: 196px;
}

.container {
    width: 1130px;
    margin: 0 auto;
}

.text-container {
    font-size: 4em;
    font-weight: unset;
    letter-spacing: 0;
    text-align: center;
    margin: 205px 0 80px;
}

.active {
    color: #148bce;
}

.text-container b {
    font-weight: 900;
    letter-spacing: 2px;
}

.breadcrumbs {
    margin-top: 26px;
    position: relative;
}

.breadcrumbs .arrow {
    background-color: #148bce;
    width: 2.25em;
    height: 1px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.links ul, .breadcrumbs {
    list-style-type: none;
}

.links ul li ,.breadcrumbs li {
    display: inline-block;
}

.links ul li {
    padding: 0 20px;
}

.breadcrumbs .arrow:after {
    content: '';
    position: absolute;
    top: 3px;
    border: solid #148bce;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 1.6em;
}
.contact-section {
    margin-top: 205px;
}

.contact-heading {
    text-align: center;
    color: #000000;
}


.contact-heading h2{
    font-size: 3em;
    letter-spacing: 3px;
}

.contact-heading p {
    color: rgb(90,90,90);
    width: 50%;
    margin: 18px auto 0;
    line-height: 1.6;
}

.listings {
    list-style-type: none;
    color: rgb(90,90,90);
    margin: 30px auto 110px;
    width: 1000px;
}

.listings li {
    width: 29%;
    display: inline-block;
    margin: 0 20px;
    box-shadow: 0 2px 30px rgb(90,90,90);
    height: 430px;
    border-radius: 6px;
    vertical-align: top;
}

.img-container {
    background-color: rgb(90,90,90);
    text-align: center;
    background-image: linear-gradient(to right, #148bce , #12bacf);
    border-radius: 6px 6px 0 0;
    padding: 30px 0 20px;
}

.img-container img {
    width: 105px;
    height: 105px;
}

.listings .title {
    font-weight: normal;
    font-size: 1.4em;
    margin: 20px 30px 16px;
}

.listings .img-caption {
    margin: 0 30px 20px;
}
.listings .img-caption p {
    margin-bottom: 27px;
    color: #c2c8cf;
}

.darker {
    color: #4e4e4e;
}

.btn {
    padding: 22px 36px;
    -webkit-appearance: none;
    font-size: 1.2em;
    border-radius: 6px;
    border: none;
}

.summary {
    width: 1160px;
    margin: 0 auto;
}

.pdt92 {
    padding-top: 92px;
}

.summary-item {
    color: rgb(90,90,90);
    padding: 105px 0 30px;
}

.summary-item h4 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.2em;
}

.summary-item:nth-of-type(2n) .summary-item-container {
    width: 53%;
    float: right;
}
.summary-item h2 {
    font-size: 3em;
    margin-bottom: 84px;
    color: #202528;
    font-weight: 700;
}

.summary-item img {
    margin-top: 68px;
}

.summary-item .start-image {
    margin-top: 246px;
}

.summary .summary-item img {
    width: 435px;
    height: 238px;
}

.summary-listing li h5{
    color: #000000;
    margin-bottom: 20px;
    display: inline-block;
}

.summary-listing li {
    margin-bottom: 50px;
}

.summary-listing li::before {
  content: "•";
  color: #148bce;
  display: inline-block;
  width: 0.5em;
}

.summary-listing li p {
    line-height: 1.4;
}

.summary-item:nth-of-type(2n+1) .summary-item-container {
    width: 53%;
    float: left;
}

.form-background {
    background-color: #212b35;
}

.summary .separator {
    box-shadow: 0 6px 3px #d2d2d2;
}

.form-title , .form-data {
    width: 730px;
    margin: 0 auto;
}

.form-title {
    font-size: 3em;
    padding: 118px 0 90px;
    text-align: center;
}

.inp-fields {
    width: 100%;
    margin-bottom: 20px;
    -webkit-appearance: none;
    border: 1px solid #333c45;
    background-color: #212b35;
    font-size: 18px;
    padding: 4.5% 0% 4.5% 4.2%;
}

.inp-fields::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ebebec;
    opacity: 1; /* Firefox */
  }

.fname ,.lname {
    width: 47%;
}

.fname {
    margin-right: 6%;
}

.form-row {
    font-size: 0;
}

.submit-btn {
    padding: 34px 0;
    width: 100%;
    margin: 5px 0 120px;
    background-color: #148bce;
}

.hero-container {
    padding: 125px 0 190px;
    width: 1160px;
    margin: 0 auto;
}

.hero-container .hero-text h2 {
    font-size: 3em;
    color: #202528;
    margin-bottom: 58px;
}

.hero-para {
    margin-bottom: 84px;
    color: #a8b0bd;
}

.hero-holder {
    width: 100%;
}

.hero-text {
    float: left;
    width: 54%;
}

.hero-image {
    float: left;
    width: 46%;
}

.hero-image img {
    width: 534px;
    height: 460px;
}

.footer-det .listitem {
    display: inline-block;
    vertical-align: text-top;
}

.footer-det .listitem {
    padding: 0 66px;
}

.footer-det .listitem ul li{
    margin-bottom: 12px;
    color: #d8e9f6;
}

.footer-det .listitem h3 {
    margin-bottom: 25px;
}

.footer-det .listitem:first-of-type {
    padding: 0 66px 0 0;
}

.footer-det .listitem:last-of-type {
    padding: 0 0 0 66px;
}

.footer-det .policies .copyright {
    float: left;
    color: #cbe2f3;
}

.footer-det .policies .copyright img {
    width: 60px;
    height: 60px;
}
.footer-det .policies .image-container ,.footer-det .policies .copyright-text {
   float: left;
}

.footer-det .policies .copyright-text {
    padding: 20px 0;
}

.footer-det .policies .policy-list {
    float: right;
    margin-top: 20px;
}

.policies .policy-list .policy-item {
    display: inline-block;
    color: #cbe2f3;
}

.cs {
    cursor: pointer;
}

.policies .policy-list .policy-item:after {
    content: '|';
    padding: 0 15px;
}

.policies .policy-list .policy-item:last-of-type:after {
    content: '';
}

.footer-det .listitem h5 {
    margin-bottom: 7px;
    color: #d8e9f6;
}

.footer-det .separator {
    margin: 34px auto 30px;
    background-color: #41a0d7;
    border: none;
    height: 1px;
}

.footer-det .policies {
    padding-bottom: 48px;
}

.footer-det .text-box {
    padding: 15px 0 15px 15px;
    border: none;
    width: 260px;
}


.footer-det .subs-btn {
    padding: 15px;
    background-color: #00000C;
    border: none;
    margin-left: -3px;
}

.footer-det .social-media li {
    display: inline-block;
}

.footer-det .social-media img {
    width: 20px;
    height: 20px;
}

.footer-det .social-media {
    margin-bottom: 24px;
}

