.contact {
    &-heading {
        text-align: center;
        color: $black-color;
        h2{
            font-size: 3em;
            letter-spacing: 3px;
        }
        p {
            color: $base-color;
            width: 50%;
            margin: 18px auto 0;
            line-height: 1.6;
        }
    }
    &-section {
        margin-top: 205px;
        .listings {
            list-style-type: none;
            color: $base-color;
            margin: 1.9em auto 7em;
            width: 88%;
            li {
                width: 28%;
                display: inline-block;
                margin: 0 2%;
                box-shadow: 0 2px 30px $base-color;
                min-height: 430px;
                border-radius: 6px;
                vertical-align: top;
            }
            .title {
                font-weight: normal;
                font-size: 1.4em;
                margin: 0.9em 1.38em 0.7em;
            }
            
            .img-caption {
                margin: 0 2em 1em;
                p {
                    color: $img-color;
                    margin-bottom: 1.5em;
                }
            }
            .img-container {
                background-color: $base-color;
                text-align: center;
                background-image: linear-gradient(to right, $light-blue-color , darken($light-blue-color, 10%) );
                border-radius: 6px 6px 0 0;
                padding: 2em 0 1.5em;
                img {
                    height: 105px;
                }
            } 
        }
    }
}

@media screen and (max-width: 768px) {
    .contact {
        &-heading {
            h2{
                font-size: 2em;
            }
            p {
                margin: 1em auto 0;
                width: 100%;
            }
        }
        &-section {
            margin-top: 1em;
            .listings {
                margin: 1em auto;
                width: 100%;
                li {
                    width: 100%;
                    display: block;
                    margin: 1.5em 0;
                    height: auto;
                    padding-bottom: 1em;
                    .btn {
                        font-size: 1em;
                        padding: 1.5em;
                    }
                }
            }
        }
    }
}
