.footer-det {
    .summary {
        width: 90%;
        .listitem {
            display: block;
            text-align: center;
            padding: 0;
            margin-bottom: 2em;
            h3 {
                margin-bottom: 1.5em;
            }
            &:first-of-type {
                padding: 0;
            }
            &:last-of-type {
                padding: 0;
            }
            h5 {
                margin-bottom: 7px;
            }
        }
        .copyright {
            float: none;
        }
        
        &.policies {
            padding-bottom: 48px;
            .copyright {
                img {
                    width: 60px;
                    height: 60px;
                }
                &-text {
                    float: left;
                    padding: 20px 0;
                }
            }
            
            .image-container {
                float: left;
            }
            
            .policy-list {
                float: none;
                margin-top: 1em;
                .policy-item {
                    font-size: 0.75em;
                    &:after {
                        content: '|';
                        padding: 0 0.1em;
                    }
                    &:last-of-type:after {
                        content: '';
                    }
                }
            } 
        }
        &.separator {
            margin: 1em auto 1em;
        }
    
        
        .text-box {
            padding: 1em 0 1em 1em;
            width: 80%;
            margin-bottom: 1em;
        }
        
        
        .subs-btn {
            padding: 1em;
        }
        
        .social-media {
            margin-bottom: 1.5em;
        }
    }
    .pdt92 {
        padding-top: 2em;
    }
}