
.head {
    padding: 40px 0;
    height: 30em;
    position: relative;
    .text-container {
        font-size: 4em;
        font-weight: unset;
        letter-spacing: 0;
        text-align: center;
        margin: 205px 0 80px;
        b {
            font-weight: 900;
            letter-spacing: 2px;
        }
    }
    .header-container {
        .links {
            float: right;
            padding: 25px 0 25px 40px;
            font-weight: 700;
            ul {
                list-style-type: none;
                li {
                    display: inline-block;
                    padding: 0 20px;
                }
            }
        }
        .logo-container {
            float: left;
            @extend %clearfixed;
            img {
                width: 196px;
            }
        }
    }
    .nav-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {

.head {
    height: auto;
    .text-container {
        font-size: 2em;
        margin: 1em 0 0;
    }
    .header-container {
        .links {
            padding: 0;
            ul {
                li {
                    display: block;
                    padding: 1em;
                }
            }
        }
        .links ,  .logo-container {
            float: none;
            text-align: center;
        }
    }
    .nav-menu {
        display: block;
        hr {
            width: 15%;
            margin: 5px auto;
        }
    }
    .hidden {
        display: none;
    }
}
}