
.head {
    height: auto;
    .text-container {
        font-size: 3em;
        margin: 1em 0 0;
    }
    .header-container {
        .links {
            padding: 0;
            ul {
                li {
                    display: block;
                    padding: 1em;
                }
            }
        }
        .logo-container {

            img {
                height: 68px;
                width: 196px;
            }
        }
        .links ,  .logo-container {
            float: none;
            text-align: center;
        }
    }
}