.hero {
    &-container {
        padding: 125px 0 190px;
        margin: 0 auto;
        width: 70%;
        .hero-text {
            float: left;
            width: 54%;
            h2 {
                font-size: 3em;
                color: $header-dark;
                margin-bottom: 58px;
            }
        }
    }
    &-para {
        margin-bottom: 84px;
        color: $text-color;
    }
    &-holder {
        width: 100%;
        @extend %clearfixed;
    }
    &-image {
        float: left;
        width: 46%;
        img {
            width: 534px;
            height: 460px;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        &-container {
            padding: 2em 0;
            width: 80%;
            .hero-text {
                float: none;
                width: 100%;
                h2 {
                    font-size: 2.5em;
                    margin-bottom: 1em;
                }
            }
        }
        &-para {
            margin-bottom: 3em;
        }
        &-holder {
            width: 100%;
        }
        &-image {
            float: none;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

