.white-color {
    background-color: $white-color;
}

.light-color {
    background-color: darken($white-color, 3%);
}

.black-color {
    background-color: $black-color;
}

.blue-color {
    background-color: $light-blue-color;
}

.text-blue, .active {
    color: $light-blue-color;
}

.text-white {
    color: $white-color;
}

.text-black {
    color: $black-color;
}

.cs {
    cursor: pointer;
}

.pdt92 {
    padding-top: 92px;
}

.darker {
    color: $darker-color;
}

.btn {
    -webkit-appearance: none;
    border-radius: 6px;
    font-size: 1em;
    border: none;
    padding: 1em 1.8em;
}